
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    <table class="table">
<thead class="thead-dark">
<tr><th colspan="2" style="text-align:center">{{device}}</th></tr>
</thead>
<tbody>
<tr><th>ID</th><td>{{device.id}}</td></tr>
<tr><th>Device Asset Tag:</th><td>{{device.Device_Asset_Tag}}</td></tr>
<tr><th>Device Description:</th><td>{{device.Device_Description}}</td></tr>
<tr><th>Device height:</th><td>{{device.device_height}}</td></tr>
<tr><th>Unit Location:</th><td>{{device.Unit_Location}}</td></tr>
<tr><th>Device Information:</th><td>{{device.Device_Information}}</td></tr>

<tr><th>Network device category:</th><td>{{device.network_device_category}}</td></tr>
<tr><th>Network sub category:</th><td>{{device.network_sub_category}}</td></tr>
<tr><th>Network number of ports:</th><td>{{device.network_number_of_ports}}</td></tr>
<tr><th>Network uplink ports wan:</th><td>{{device.network_uplink_ports_wan}}</td></tr>
<tr><th>Network connection type fibre:</th><td>{{device.network_connection_type_fibre}}</td></tr>
<tr><th>Network connection type ehthernet:</th><td>{{device.network_connection_type_ehthernet}}</td></tr>

<tr><th>Security device category:</th><td>{{device.security_device_category}}</td></tr>
<tr><th>Security number of ports lan:</th><td>{{device.security_number_of_ports_lan}}</td></tr>
<tr><th>Security network uplink ports wan:</th><td>{{device.security_network_uplink_ports_wan}}</td></tr>
<tr><th>Security connection type fibre:</th><td>{{device.security_connection_type_fibre}}</td></tr>
<tr><th>Security connection type ehthernet:</th><td>{{device.security_connection_type_ehthernet}}</td></tr>

<tr><th>Patch position:</th><td>{{device.patch_position}}</td></tr>
<tr><th>Patch category type inter:</th><td>{{device.patch_category_type_inter}}</td></tr>
<tr><th>Patch category type cross:</th><td>{{device.patch_category_type_cross}}</td></tr>
<tr><th>Patch category type isp:</th><td>{{device.patch_category_type_isp}}</td></tr>
<tr><th>Patch category type other:</th><td>{{device.patch_category_type_other}}</td></tr>
<tr><th>Path number of ports:</th><td>{{device.path_number_of_ports}}</td></tr>

<tr><th>Server number of ports:</th><td>{{device.server_number_of_ports}}</td></tr>
<tr><th>Server type fibre:</th><td>{{device.server_type_fibre}}</td></tr>
<tr><th>Server type ehthernet:</th><td>{{device.server_type_ehthernet}}</td></tr>

<tr><th>Chassis number of blades:</th><td>{{device.chassis_number_of_blades}}</td></tr>
<tr><th>Chassis total blades slots:</th><td>{{device.chassis_total_blades_slots}}</td></tr>
<tr><th>Chassis type fibre:</th><td>{{device.chassis_type_fibre}}</td></tr>
<tr><th>Chassis type ehthernet:</th><td>{{device.chassis_type_ehthernet}}</td></tr>

<tr><th>Load number of ports:</th><td>{{device.load_number_of_ports}}</td></tr>
<tr><th>Load uplink ports wan:</th><td>{{device.load_uplink_ports_wan}}</td></tr>
<tr><th>Load type fibre:</th><td>{{device.load_type_fibre}}</td></tr>
<tr><th>Load type ehthernet:</th><td>{{device.load_type_ehthernet}}</td></tr>

<tr><th>Storage number of controllers:</th><td>{{device.storage_number_of_controllers}}</td></tr>
<tr><th>Storage number of disks:</th><td>{{device.storage_number_of_disks}}</td></tr>
<tr><th>Storage capicity range:</th><td>{{device.storage_capicity_range}}</td></tr>
<tr><th>Storage capicity input:</th><td>{{device.storage_capicity_input}}</td></tr>
<tr><th>Storage type fibre:</th><td>{{device.storage_type_fibre}}</td></tr>
<tr><th>Storage type ehthernet:</th><td>{{device.storage_type_ehthernet}}</td></tr>

<tr><th>Tapelib number of magazine:</th><td>{{device.tapelib_number_of_magazine}}</td></tr>
<tr><th>Tapelib number io station:</th><td>{{device.tapelib_number_io_station}}</td></tr>
<tr><th>Tapelib type:</th><td>{{device.tapelib_type}}</td></tr>
<tr><th>Tapelib number tape capacity:</th><td>{{device.tapelib_number_tape_capacity}}</td></tr>
<tr><th>Tapelib storage capacity:</th><td>{{device.tapelib_storage_capacity}}</td></tr>
<tr><th>Tapelib space occupied:</th><td>{{device.tapelib_space_occupied}}</td></tr>

<tr><th>Pdu category:</th><td>{{device.pdu_category}}</td></tr>
<tr><th>Pdu number of power ports:</th><td>{{device.pdu_number_of_power_ports}}</td></tr>
<tr><th>Pdu type:</th><td>{{device.pdu_type}}</td></tr>
<tr><th>Pdu position:</th><td>{{device.pdu_position}}</td></tr>

<tr><th>Ups max loads:</th><td>{{device.ups_max_loads}}</td></tr>
<tr><th>Ups number of power ports:</th><td>{{device.ups_number_of_power_ports}}</td></tr>
<tr><th>Cctv url:</th><td>{{device.cctv_url}}</td></tr>
<tr><th>IP Address</th><td>{{device.IP_Address_col1}}.{{device.IP_Address_col2}}.{{device.IP_Address_col3}}.{{device.IP_Address_col4}}</td></tr>

<tr><th>Special Notes:</th><td>{{device.Special_Notes}}</td></tr>
</tbody>
</table>
</body>
</html>