@media only screen and (max-device-width:540px) {
    .mobileLabel{
	text-align: left;
    }
    .mobilePad{
	margin-left: 4em;
    }
}
@media only screen and (max-device-width:750px) and
(orientation:landscape) {
    .mobileLabel{
	text-align: left;
    }
    .mobilePad{
	margin-left: 11%;
    }
}
.boxStyle{
    margin-left: 20%;width: 60%;
}
