{% extends 'dashboard/header_footer.html' %} {% load static %} {% block title %} Get Capabilities {% endblock %} {%
block js %}
{% if msg %}
<script>
    alert('{{msg}}');
</script>
{% endif %} {% block css %} {% endblock %} {% block content %}
<center>
    <div class="col-md-6 col-md-offset-3 boxStyle" style="border:1px solid black;">
        {{result}}
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group row">
                <!-- <label for="fname" class="control-label col-sm-2">cOMMENT</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="fname" placeholder="First name">
        </div> -->
            </div>

            <div class="form-group row">
                <label for="host" class="control-label col-sm-4">Host</label>
                <div class="col-sm-2">
                    <input name="ippart1" type="number" id="ippart1" min="0" max="255" class="form-control" required />
                </div>
                <div class="col-sm-2">
                    <input name="ippart2" type="number" id="ippart2" min="0" max="255" class="form-control" required />
                </div>
                <div class="col-sm-2">
                    <input name="ippart3" type="number" id="ippart3" min="0" max="255" class="form-control" required />
                </div>
                <div class="col-sm-2">
                    <input name="ippart4" type="number" id="ippart4" min="0" max="255" class="form-control" required />
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="control-label col-sm-4">Username</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="username" id="username" required />
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="control-label col-sm-4">Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" name="password" id="password" required />
                </div>
            </div>
            <div class="form-group row">
                <label for="function" class="control-label col-sm-4">Function</label>
                <select id="function" class="col-sm-8 form-select btn" style="border: 1px;" name="function">
                    <option selected>Install Nginx</option>
                </select>
            </div>
            <div class="form-group row">
                <div class="">
                    <button type="submit" class="btn btn-primary">Run</button>
                </div>
            </div>
        </form>
    </div>
</center>
<div class="row" style="height:400px;">

</div>
{% endblock %}