{% extends 'dashboard/header_footer.html' %}
{% load static %}

{% block title %}
Assets
{% endblock %}

{% block js  %}
<script src="{% static 'dashboard/temporary/plotly.js' %}"></script>
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}

<div id="graph"></div>

<div class="row">
  <div class="col-md-12">
    <div class="d-flex justify-content-center">
      {{ india_map_plt|safe }} 
    </div>
  </div>
</div>


<!-- <div class="row">
  <div class="col-md-12">
    <div class="d-flex justify-content-center">
      <embed type="image/svg+xml" src= {{ world_map|safe }} />
    </div>
  </div>
</div> -->

{% endblock %}
