{% extends 'dashboard/header_footer.html' %} {% block title %} ContactUs {% endblock %} {% block title_header %}ContactUs{% endblock %} {% block css %}
<style>
    input[type=text],
    input[type=email],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    
    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
    }
    /* Create two columns that float next to eachother */
    
    .column {
        float: left;
        width: 50%;
        margin-top: 6px;
        padding: 20px;
    }
    /* Clear floats after the columns */
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    
    @media screen and (max-width: 600px) {
        .column,
        input[type=submit] {
            width: 100%;
            margin-top: 0;
        }
    }
</style>
{% endblock %}
{% block js %}
{% if msg %}
<script>
alert("{{msg}}");
</script>
{% endif %}
{% endblock js %}
{% block content %}

<div class="container">
    <div style="text-align:center">
        <h3>Leave us a message:</h3>
    </div>
    <div class="row">
        <div class="column">
            <img src="/w3images/map.jpg" alt="ANY AKUS RELATED IMAGE" style="width:100%">
        </div>
        <div class="column">
            <form action="" method="POST" style="text-align:left">
                {% csrf_token %}
                <label for="fname">First Name*</label>
                <input type="text" id="fname" name="firstname" value="{{user.first_name}}" required readonly>
                <label for="lname">Last Name*</label>
                <input type="text" id="lname" name="lastname" value="{{user.last_name}}" required readonly>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="{{user.email}}" readonly>
                <label for="subject">Message*</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px" required></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}